<div id="<%= dom_id notification %>">
  <p>
    <strong>Job:</strong>
    <%= notification.job_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= notification.event_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= notification.member_id %>
  </p>

</div>
